%base {
    width: 300px;
    height: 45px;
    background-color: #ffffff;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    font-weight: bold;
    // <<<<<<< HEAD
    margin: 62px 0 43px;
    // <<<<<<< HEAD
    // =======
    border: none;

    span {
        background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        //background-clip: text;
        // text-fill-color: transparent;
        // >>>>>>> 3fd0b094c0ba6f90240f318d70fba9b2a4d14c89
        // =======
        border: none;
        // text
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        cursor: pointer;
        // color: #ffffff;
    }
}

.button:disabled {
    @extend %base;
    background: linear-gradient(270deg, #3548F5 -37.7%, #F58747 134.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    // color: linear-gradient(270deg, #3548F5 -37.7%, #F58747 134.43%);
    //background-clip: text;
}

.button {
    cursor: pointer;
    @extend %base;
    color: #ffffff;
    background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3);
    // >>>>>>> dev-z
}
.base_button {
    @extend %base;

}