.auth_cont {
    width: 600px;
    height: 700px;
    background: #FDFDFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin: 0 auto;
    display: flex;
    z-index: 999;
    padding: 60px 0;
    position: relative;
}
.wrong{
    position: absolute;
    top: 400px;
    color: red;

}
.register_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //background-clip: text;
    cursor: pointer
}
.register_text:active {
    background: #FFFFFF;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    width: 300px;
    padding: 13px;
    background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
  
}
.authh {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // margin: auto;
    height: 100vh;
}
.simple_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
}
.input_cont {
    position: relative;
}
.dragon {
    background: white;
}
.checkbox_con {
    display: flex;
    width: 100%;
    justify-content: start;
    padding-left: 11px;
    margin-bottom: 50px;
}
.checkbox_text {
    display: flex;
    gap: 34px;
}
.checkbox_text:before {
    content: url("../../images/empty_checkbox.svg");
}
.forgot_p_cont {
    height: 46px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
