.img_input_label {
  width: 600px;
  height: 200px;

  background: #FFFFFF;
  border-radius: 25px;
}
.img_icon {
  position: absolute;
  top: 35%;
  width: 30px;
}
.checkbox_cont {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
}
.img_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #C4C4C4;
  position: absolute;
  top: 60%;
  right: 36%;
}
.img_text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #C4C4C4;
  position: absolute;
  top: 60%;
  right: 36%;
}