.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    .header{
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
    }
    .button {
        text-align: right;
    }

    .footer {
        margin-top: 400px;
        margin-bottom: 120px;
        p {
            background: linear-gradient(270deg, #3548F5 -4.17%, #F58747 110.83%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            font-weight: bold;
            font-size: 32px;
            text-align: center;
        }
    }
}