.wrapper {
    max-width: 1000px;
    width: 90%;
    background: #FDFDFF;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.16);
    border-radius: 35px;
    margin: 0 auto;
    font-weight: normal;
    padding: 100px 0px 100px 0px;
    margin-bottom: 100px;
    .header{
        p{
            line-height: 28px;
            text-align: center;
            font-style: normal;
        }
    }   
    .description{
        padding-left: 7.8%;
        p{
            line-height: 28px;
            text-align: left;
        }
    }
    .tabel{
        padding-left: 7.8%;
        padding-right: 7.8%;
        font-weight: normal;
        .line{
            display: flex;
            justify-content: center;
        }
        .weight{
            font-weight: 500;
        }
        p{
            border: 1px solid #000000;
            height: 60px;
            font-size: 16px;
            line-height: 28px;
            text-align: left;
            align-items: center;
            display: flex;
            justify-content: left;
            font-weight: normal;
            flex: 3;
            padding-left: 19px;
        }
        .number{
            padding-left: 0px;
            flex:0.7;
            justify-content: center;
            text-align: center;
        }
    }
}